
body{
    margin: 0px;
    text-align: center;
    border:  25px black;
    background-color: black;

}
input{
    width: 75px; 
    height: 75px; 
    font-size: 35px;
    border-radius: 75px;
    margin: 10px;
    border-radius: 50px;
}
input:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.container{
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    
}
.displ{
    width: 450px;
}
#pathResult{
    width: 450px;
}
.del{
    
}